
.container {
  padding: 4rem 2rem;
  max-width: 800px;
  margin: 0 auto;
  color: #e0e0e0;
}

.heading {
  font-size: 80px;
  font-weight: 600;
   padding: 0px 30px;
  text-align: center;
  margin-bottom: 1rem;
  color: #fff;
}

.description {
  text-align: center;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 2rem;
}

.card {
  background-color: #1e1e1e;
  border-radius: 10px;
  padding: 60px;
  margin-bottom: 1.75rem;
  gap:20px;
  transition: transform 0.4s ease, box-shadow 0.4s ease;
   border: 2px solid white;
}

.card:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 20px rgba(0,0,0,0.4);
    border: 2px solid #ff00ff;
}

.title {
  font-size: 38px;
  font-weight: 600;
  color: #fff;
}

.company a {
  color: #3b82f6;
  text-decoration: none;
}

.meta {
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  gap: 1.5rem;
  color: #aaa;
  margin-top: 0.5rem;
}

.points {
  margin: 1rem 0;
  padding-left: 1.2rem;
  color: #ddd;
  font-size: 20px;
}

.points li {
  margin-bottom: 0.5rem;
}

.techStack {
  display: flex;
  flex-wrap: wrap;
  gap: 0.6rem;
  margin-top: 0.75rem;
}

.tech {
  background-color: #2b2b2b;
  color: #ccc;
   font-size: 16px;
  padding: 0.4rem 0.75rem;
  border-radius: 9999px;
}
